<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8">
  </head>
  <frameset rows="78,*" cols="*" frameborder="no" border="0" framespacing="0">
    <frame src="__CONTROLLER__/top" name="topFrame" scrolling="No" noresize="noresize" id="topFrame" title="topFrame" />
    <frameset cols="250,10,*" frameborder="no" border="0" framespacing="0" id="oa_frame">
      <frame src="__CONTROLLER__/left" name="leftFrame" scrolling="yes" noresize="noresize" id="leftFrame" title="leftFrame" />
      <frame src="__CONTROLLER__/middle" name="middleFrame" scrolling="No" noresize="noresize" id="middleFrame" title="middleFrame" />
      <frame src="__CONTROLLER__/main" name="mainFrame" scrolling="yes" id="mainFrame" title="mainFrame" />
    </frameset>
  </frameset>
  <noframes>
    <body>
    </body>
  </noframes>
</html>
